@import 'themes';
@import '~@nebular/theme/styles/globals';
@import '~nebular-icons/css/nebular-icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-easy-table/style.scss';
@import '~vex-js/dist/css/vex.css';
@import '~vex-js/dist/css/vex-theme-bottom-right-corner.css';
@import '~vex-js/dist/css/vex-theme-default.css';
@import '~vex-js/dist/css/vex-theme-flat-attack.css';
@import '~vex-js/dist/css/vex-theme-os.css';
@import '~vex-js/dist/css/vex-theme-plain.css';
@import '~vex-js/dist/css/vex-theme-top.css';
@import '~vex-js/dist/css/vex-theme-wireframe.css';

@include nb-install() {
	@include nb-theme-global();
}

.rng-noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cdk-overlay-container {
	/* hack for  between compatible nbTooltip and ngx-modialog-7 */
	z-index: 3000 !important;
}

.infinte-rotate {
	animation: rotation 1.5s infinite linear;
}

a {
	text-decoration: none !important;
}
