@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
	(
		// add your variables here like:
			// color-bg: #4ca6ff,
	),
	default,
	default
);
